
<!DOCTYPE html>
<html>
<head>
  
</head>

  <div class="row top-nav">
    <div class="col col-lg-1 d-none d-md-block">
      1 of 3
    </div>
    <div class="col col-lg-10 d-none d-md-block">
      <div style="font-weight: 500; letter-spacing: 0.2px; text-align: center; color: white; background-color: rgb(0,51,8);padding-top: 20px;
padding-bottom: 90px;">
  اَلْحَمْدُ لِلّٰہِ رَبِّ الْعٰلَمِیْنَ وَ الصَّلٰوۃُ وَالسَّلَامُ علٰی سَیِّدِ الْمُرْسَلِیْنَ اَمَّا بَعْدُ فَاَعُوْذُ بِاللّٰہِ مِنَ الشَیْطٰنِ الرَّجِیْمِ ؕ بِسْمِ اللّٰہِ الرَّحْمٰنِ الرَّ حِیْمِ
      </div>
    </div>
    <div class="col col-lg-1 d-none d-md-block">
      3 of 3
    </div>
  </div>
  <div class="div-only-mobile">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="d-flex justify-content-center soc">
        <div class="p-2"><i class="fab fa-facebook"></i></div>
        <div class="p-2"><i class="fab fa-instagram"></i></div>
        <div class="p-2"><i class="fab fa-youtube"></i></div>
        <div class="p-2"><i class="fab fa-twitter"></i></div>
      </div>
      </div>
    </div>
  </div>
<div class="container">
  <div class="row">
  <div class="col col-lg-1">
  </div>
  <div class="col col-lg-10 col-sm-12"> 
  <nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
      <button class="navbar-toggler third-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <div class="animated-icon3"><span></span><span></span><span></span></div>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Courses </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Fee Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Donation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Career</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Student Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
        </ul>
      </div>
    </div>
    </div>
    </nav>
    <div class="col col-lg-2">
    </div>
</html>